/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}
body {
  /* background-color: #25c8f1; */
}
:root {
  /* ====== Color ====== */
  --primary-color: #25c8f1;
  --red-color: #f53171;
  --text-color: #fbfbfb;
  --dark-color: #0f0f0fe0;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
